# -----------------------------------------------------------------------------
#   Continuous Intergration for Vivarium Public Health
#   - invoked on push and pull_request
#   - test under 3 versions of python
#   - look for an upstream (vivarium) branch and use it if it exists
# -----------------------------------------------------------------------------
name: build
on:
  push:
    branches:
      - '*'
    tags-ignore:
      - v*
  pull_request:
    branches:
      - '*'
    tags-ignore:
      - v*
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: test_env_python${{ matrix.python-version }}
          python-version: ${{ matrix.python-version }}
          auto-activate-base: false
      - name: Conda info
        run: |
          conda info
          conda list
      - name: check for upstream branch
        run: |
          if git ls-remote --exit-code --heads https://github.com/ihmeuw/vivarium.git ${GITHUB_REF##*/} == "0"; then
            echo "{upstream_exist}={true}" >> $GITHUB_ENV
          else
            echo "{upstream_exist}={false}" >> $GITHUB_ENV
          fi
      - name: debug000
        run: |
          cat $GITHUB_ENV
      - name: Retrieve upstream branch if exists
        if: env.upstream_exist == 'true'
        run: |
          echo "Cloning upstream branch: ${GITHUB_REF##*/}"
          git clone --branch=${GITHUB_REF##*/} https://github.com/ihmeuw/vivarium.git
          pushd vivarium
          pip install .
          popd
      - name: Install dependencies
        run: |
          pip install .[dev]
      - name: Test
        run: |
          pytest ./tests
